html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.list {
    background-color: rgb(239, 222, 198);
    width: 99%;
    display: flex;
    position: absolute;
    position: fixed;
    top: 0px;
    z-index: 5;
}

.list ul {
    display: flex;
    text-align: center;
    gap: 80px;
    list-style-type: none;
}

.list ul a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.list ul a:hover {
    opacity: 0.7;
    cursor: pointer;
}


.contant {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vb;
}

.TimeH1 {
    font-size: 40px;
    position: relative;
    width: 100px;
}

.TimeH1::before {
    position: absolute;
    content: '';
    top: -50%;
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    border-left: 1px solid black;
    z-index: 10;
    animation: Danse 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}

@keyframes Danse {
    0% {
        margin-left: 0px;
    }

    20% {
        margin-left: 20px;
    }

    40% {
        margin-left: 40px;
    }

    60% {
        margin-left: 60px;
    }

    80% {
        margin-left: 80px;
    }

    100% {
        margin-left: 100px;
        opacity: 0;
    }
}

.time {
    background-color: rgb(4, 53, 96);
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(184, 184, 184);
}

.showTime {
    font-size: 75px;
    font-weight: 700;
}

.contact2 {
    position: relative;
    background-color: rgb(226, 207, 182);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vb;
    width: 100%;
}

.timer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(4, 25, 96);
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(184, 184, 184);
}

.contact2 .TimerH1 {
    font-size: 5vh;
    top: 80px;
    position: absolute;
}

.contact2 p {
    font-size: 75px;
    font-weight: 700;
}

.btnstart {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}

.btnstart:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}


.btnend {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}

.btnend:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}

.btnagain {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}


.btnagain:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}

.togle {
    font-size: 30px;
    color: aqua;
    text-decoration: underline;
    text-shadow: 0px 0px 10px 10px black;
    background-color: blue;
    text-shadow: 0px 0px 10px 10px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 128, 255, 0.7);
    border-radius: 10px;
    border: 2px solid white;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background: #007BFF;
    display: none;
}


.contact3 {
    position: relative;
    background-color: rgb(154, 135, 111);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vb;
    width: 100%;
}

.inp {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 40px 20px;
    text-align: center;
}


.inp .inpsecond {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px;
    border: none;
}

.inp .inpminute {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px;
    border: none;
}

.inp .inphour {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px;
    border: none;
}

.timeSlop {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(4, 25, 96);
    width: 60%;
    border-radius: 10px;
}

.inpstart {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}

.inpstart:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}


.inpend {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}

.inpend:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}

.inpagain {
    margin: auto;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(63, 78, 106);
}


.inpagain:hover {
    background-color: rgb(61, 61, 93);
    color: rgb(56, 98, 98);
}

.contact3 .timeSlop p {
    font-size: 75px;
    font-weight: 700;
}

.analog {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-items: center;

}


.clock {
    width: 200px;
    height: 200px;
    border: 8px solid #333;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%), rotate(0);
    border-radius: 5px;
}

.hourA {
    width: 6px;
    height: 70px;
    background-color: #000;
}

.minuteA {
    width: 4px;
    height: 70px;
    background-color: #007bff;
}

.secondA {
    width: 2px;
    height: 80px;
    background-color: #ff0000;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    body {
        background-color: antiquewhite;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .list {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(239, 222, 198);
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    .list ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        list-style: none;
        margin: 0;
    }

    .list ul a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
    }



    .time {
        width: 90%;
        padding: 20px;
        background-color: rgb(4, 53, 96);
        color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgb(184, 184, 184);
    }

    .showTime {
        font-size: 50px;
        font-weight: 700;
    }

    .timer {
        width: 90%;
        padding: 20PX;
    }

    .contact2 p {
        font-size: 50px;
    }

    .timeSlop {
        width: 90%;
        padding: 20px;
    }

    .contact3 .timeSlop p {
        font-size: 50px;
    }

    .inp {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

}
